<div class="w-full flex justify-end">
  <button mat-button mat-dialog-close>X</button>
</div>
<h1 mat-dialog-title>Extra Agency Information</h1>
<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Transports">
      <!--    {-->
      <!--    "id": 1,-->
      <!--    "type": "bus",-->
      <!--    "seats": "4",-->
      <!--    "departureDate": "2022-12-10",-->
      <!--    "returnDate": "2022-12-14",-->
      <!--    "price": "100",-->
      <!--    "agencyId": 1,-->
      <!--    "transportImages": []-->
      <!--    },-->
      <div *ngIf="data?.transports?.length > 0 && !!data?.transports">
        <div class="grid grid-cols-2 gap-2">
          <mat-card *ngFor="let transport of data?.transports;">

            <h1 class="text-xl font-bold">Transport #{{transport.id}}</h1>
            <ul>
              <li>
                Type of transport
                {{transport.type}}
              </li>
              <li>
                Number of seats
                {{transport.seats}}
              </li>
              <li>
                Departure date
                {{transport.departureDate}}
              </li>
              <li>
                Return date
                {{transport.returnDate}}
              </li>
              <li>
                Price
                {{transport.price}}
              </li>
              <li>
                Agency
                {{transport.agencyId}}
              </li>
            </ul>

          </mat-card>
        </div>
      </div>

      <div *ngIf="data?.transports?.length === 0 || data?.transports === null">
        <p class="text-3xl font-bold">No transports yet</p>
      </div>
    </mat-tab>

    <mat-tab label="Accommodations">
      <!--      {-->
      <!--      "id": 2,-->
      <!--      "details": "loremipsum",-->
      <!--      "location": "Cuzco",-->
      <!--      "price": "120",-->
      <!--      "agencyId": 1,-->
      <!--      "accommodationImages": []-->
      <!--      }-->

      <div *ngIf="data?.accommodations?.length > 0  && !!data?.accommodations">
        <div class="grid grid-cols-2 gap-2">
          <mat-card *ngFor="let accommodation of data?.accommodations;">

            <h1 class="text-xl font-bold">Accommodation #{{accommodation.id}}</h1>
            <ul>
            <li>
              Details
              {{accommodation.details}}
            </li>
            <li>
              Location
              {{accommodation.location}}
            </li>
            <li>
              Price
              {{accommodation.price}}
            </li>
            <li>
              Agency ID
              {{accommodation.agencyId}}
            </li>
          </ul>
          </mat-card>
        </div>
      </div>

      <div *ngIf="data?.accommodations?.length === 0 || data?.accommodations === null">
        <p class="text-3xl font-bold">No accommodations yet</p>
      </div>

    </mat-tab>

    <mat-tab label="Tours">

      <div *ngIf="data?.tours?.length > 0 && !!data?.tours">
        <div class="grid grid-cols-2 gap-2">
          <mat-card *ngFor="let tour of data?.tours;">

            <h1 class="text-xl font-bold">Tour #{{tour.id}}</h1>
            <ul>
              <li>
                Details
                {{tour.details}}
              </li>
              <li>
                Location
                {{tour.location}}
              </li>
              <li>
                Meeting Point
                {{tour.meetingPoint}}
              </li>
              <li>
                Meeting Point
                {{tour.meetingPoint}}
              </li>
              <li>
                Price
                {{tour.price}}
              </li>
              <li>
                Agency ID
                {{tour.agencyId}}
              </li>
            </ul>
          </mat-card>
        </div>
      </div>

      <div *ngIf="data?.tours?.length === 0 || data?.tours === null">
        <p class="text-3xl font-bold">No tours yet</p>
      </div>

    </mat-tab>

    <mat-tab label="Plans">
<!--      {-->
<!--        "id": 2,-->
<!--        "agencyId": 1,-->
<!--        "transportId": 1,-->
<!--        "accommodationId": 2,-->
<!--        "name": "Plan 1",-->
<!--        "description": "lorem ipsum",-->
<!--        "duration": "9",-->
<!--        "capacity": "6",-->
<!--        "thumbnail": "https://picsum.photos/200/300",-->
<!--        "reviews": [-->
<!--          {-->
<!--          "id": 6,-->
<!--          "travelerId": 1,-->
<!--          "planId": 2,-->
<!--          "date": "2022-10-22",-->
<!--          "rating": "4",-->
<!--          "comment": "lorem20"-->
<!--          }-->
<!--        ]-->
<!--      }-->

      <div *ngIf="data?.plans?.length > 0  && !!data?.plans">
        <div class="grid grid-cols-2 gap-2">
      <mat-card *ngFor="let plan of data?.plans;">
        <h1 class="text-xl font-bold">Review #{{plan.id}}</h1>
          <ul class="grid grid-cols-2 gap-4 p-4" >
            <li>
              Name
              {{plan.name}}
            </li>
            <li>
              Description
              {{plan.description}}
            </li>
            <li>
              Duration
              {{plan.duration}}
            </li>
            <li>
              Capacity
              {{plan.capacity}}
            </li>
            <li>
              Thumbnail
              {{plan.thumbnail}}
            </li>
            <li>
              Agency ID
              {{plan.agencyId}}
            </li>
            <li>
              Transport ID
              {{plan.transportId}}
            </li>
            <li>
              Accommodation ID
              {{plan.accommodationId}}
            </li>
          </ul>
          </mat-card>
          </div>
        </div>

        <div *ngIf="data?.plans?.length === 0 || data?.plans === null">
          <p class="text-3xl font-bold">No plans yet</p>
        </div>

    </mat-tab>

  </mat-tab-group>


</div>



<div mat-dialog-actions>
<!--  <button mat-button mat-dialog-close>No</button>-->
<!--  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>-->
</div>
