<div id="btn-container">
  <button mat-button mat-dialog-close>X</button>
</div>
<h1 mat-dialog-title>Extra Traveler Information</h1>
<div mat-dialog-content>
  <!--
  La idea es colocar tabs para mostrar
  - Reviews
 -->

    <mat-card class="example-card"  *ngIf="data.length > 0">
<!--      {-->
<!--        "id": 6,-->
<!--        "travelerId": 1,-->
<!--        "planId": 2,-->
<!--        "date": "2022-10-22",-->
<!--        "rating": "4",-->
<!--        "comment": "lorem20"-->
<!--      }-->
      <mat-card-content>
        <div class="flex flex-col gap-2">
          <ul class="grid grid-cols-2 gap-4 border-2 border-black p-4" *ngFor="let review of data;">
            <li>
              Comment
              {{review.comment}}
            </li>
            <li>
              Rating
              {{review.rating}}
            </li>
            <li>
              Departure date
              {{review.date}}
            </li>
            <li>
              Traveler id
              {{review.travelerId}}
            </li>
            <li>
              Plan id
              {{review.planId}}
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>

    <div *ngIf="data.length === 0">
      <p class="text-3xl font-bold">No reviews yet</p>
    </div>
</div>


<div mat-dialog-actions>
<!--  <button mat-button mat-dialog-close>No</button>-->
<!--  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>-->
</div>
