<div class="table-wrapper">
  <h1>Accommodation Images Form</h1>

  <h2>{{ isEditMode ? "Edit Accommodation Image" : "Add new Accommodation Image" }}</h2>

  <!-- {{transportData | json}} -->

  <form (submit)="onSubmit()" #accommodationImagesForm="ngForm">
    <div class="grid grid-cols-2 gap-x-8">
      <mat-form-field>
        <input
          matInput
          placeholder="Path"
          name="path"
          required
          [(ngModel)]="accommodationImagesData.path"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose a Accommodation</mat-label>
        <mat-select
          name="transportId"
          [(ngModel)]="accommodationImagesData.accommodationId"
          required
        >
          <mat-option
            *ngFor="let accommodation of accommodations"
            [value]="accommodation.id"
          >
            ID: {{ accommodation.id }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="text-center my-8">
      <ng-container *ngIf="isEditMode; else elseTemplate">
        <div class="flex flex-column gap-2 justify-center">
          <button mat-button class="bg-[#ee21ba] text-[#ffffff]">Update</button>
          <button
            mat-button
            class="bg-[#ee21ba] text-[#ffffff]"
            (click)="cancelEdit()"
          >
            Cancel
          </button>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <button mat-button class="bg-[#ee21ba] text-[#ffffff]">Add</button>
      </ng-template>
    </div>
  </form>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="accommodationId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Accommodation id</th>
      <td mat-cell *matCellDef="let element">{{ element.accommodationId }}</td>
    </ng-container>

		<ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
      <td mat-cell *matCellDef="let element">{{ element.path }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
<!--        <a href="javascript:void(0)" (click)="editItem(element)"-->
<!--          ><mat-icon>edit</mat-icon></a-->
<!--        >-->
<!--        |-->
        <a href="javascript:void(0)" (click)="deleteItem(element.id)"
          ><mat-icon>delete</mat-icon></a
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ 'editable-row': accommodationImagesData.id === row.id }"
    ></tr>
  </table>
  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
  ></mat-paginator>
</div>
