<div id="btn-container">
  <button mat-button mat-dialog-close>X</button>
</div>
<h1 mat-dialog-title>Extra Plan Information</h1>
<div mat-dialog-content>

<!--    <pre>{{data | json}}</pre>-->

    <mat-tab-group>

      <mat-tab label="Thumbnail">
        <div class="p-8">
          <img [src]="data.thumbnail">
        </div>
      </mat-tab>

      <mat-tab label="Agency">

        <pre>{{agency | json}}X</pre>

      </mat-tab>

      <mat-tab label="Accommodation">

        <pre>{{accommodation | json}}</pre>

      </mat-tab>

      <mat-tab label="Transport">

        <pre>{{transport | json}}</pre>
      </mat-tab>

      <mat-tab label="Tour">

        <pre>{{tour | json}}</pre>

      </mat-tab>

    </mat-tab-group>
</div>


<div mat-dialog-actions>
<!--  <button mat-button mat-dialog-close>No</button>-->
<!--  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>-->
</div>
